
<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Firstname %><br>
    <%= f.text_field :Firstname %>
  </div>
  <div class="field">
    <%= f.label :Middlename %><br>
    <%= f.text_field :Middlename %>
  </div>
  <div class="field">
    <%= f.label :Lastname %><br>
    <%= f.text_field :Lastname %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Contact_Number %><br>
    <%= f.text_field :Contact_Number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
