<%= form_for(@order_list) do |f| %>
  <% if @order_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_list.errors.count, "error") %> prohibited this order_list from being saved:</h2>

      <ul>
      <% @order_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>

  <div class="field">
    <%= f.label :food_id %><br>
    <% f.number_field :food_id %>
      <%= f.select :food_id,  Food.all.map { |f| [f.name, f.id] }  %>      
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
