<div class="bodycontent">
<p id="notice"><%= notice %></p>

<h2 class="h2">Product List</h2>
    <button style="float: right;"><%= link_to 'New Product', new_food_path %></button>
<table class="table">
  <thead>
    <tr>
      <th>category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
          <td><%= food.category %></td>
        <td><%= food.name %></td>
        <td><%= food.description %></td>
        <td><%= if food.status == 0 
                "not available"
                else
                "available"
                end

            %>
        </td>
        <td><%= food.price %></td>
        <td><%= link_to 'Show', food %>
            <%= link_to 'Edit', edit_food_path(food) %>
            <%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>