<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @order_list.food_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @order_list.event_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_list.quantity %>
</p>

<%= link_to 'Edit', edit_order_list_path(@order_list) %> |
<%= link_to 'Back', order_lists_path %>
